# Pandas Indexing Overview

In [2]:
# %load imports.py
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns
sns.set()

In [11]:
values = [  # sample data
    [100, 110, 120, 130, 140],
    [200, 210, 220, 230, 240],
    [300, 310, 320, 330, 340],
    [400, 410, 420, 430, 440],
    [500, 510, 520, 530, 540],
    [600, 610, 620, 630, 640],
]
df = pd.DataFrame(
    values,
    index = ['a', 'b', 'c', 'd', 'e', 'f'],
    columns = ['alpha', 'beta', 'gamma', 'delta', 'epsilon'],
)
df

   alpha  beta  gamma  delta  epsilon
a    100   110    120    130      140
b    200   210    220    230      240
c    300   310    320    330      340
d    400   410    420    430      440
e    500   510    520    530      540
f    600   610    620    630      640

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, a to f
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alpha    6 non-null      int64
 1   beta     6 non-null      int64
 2   gamma    6 non-null      int64
 3   delta    6 non-null      int64
 4   epsilon  6 non-null      int64
dtypes: int64(5)
memory usage: 288.0+ bytes

In [13]:
df['alpha']

a    100
b    200
c    300
d    400
e    500
f    600
Name: alpha, dtype: int64

In [14]:
df[['alpha', 'delta']]

   alpha  delta
a    100    130
b    200    230
c    300    330
d    400    430
e    500    530
f    600    630

In [16]:
df['b':'d']

   alpha  beta  gamma  delta  epsilon
b    200   210    220    230      240
c    300   310    320    330      340
d    400   410    420    430      440

In [17]:
df['b':'d'][['beta', 'epsilon']]

   beta  epsilon
b   210      240
c   310      340
d   410      440

In [18]:
selectors = [True, True, False, False, True, True]
df[selectors]

   alpha  beta  gamma  delta  epsilon
a    100   110    120    130      140
b    200   210    220    230      240
e    500   510    520    530      540
f    600   610    620    630      640

In [20]:
df['alpha'] > 200

a    False
b    False
c     True
d     True
e     True
f     True
Name: alpha, dtype: bool

In [21]:
df[df['alpha'] > 200]

   alpha  beta  gamma  delta  epsilon
c    300   310    320    330      340
d    400   410    420    430      440
e    500   510    520    530      540
f    600   610    620    630      640

In [22]:
df[(df.alpha > 200) & (df.delta < 500)]

   alpha  beta  gamma  delta  epsilon
c    300   310    320    330      340
d    400   410    420    430      440

In [23]:
(df.alpha > 200) & (df.delta < 500)

a    False
b    False
c     True
d     True
e    False
f    False
dtype: bool

In [27]:
mask = (df.alpha < 300) | (df.epsilon > 400)
mask

a     True
b     True
c    False
d     True
e     True
f     True
dtype: bool

In [28]:
df[mask]

   alpha  beta  gamma  delta  epsilon
a    100   110    120    130      140
b    200   210    220    230      240
d    400   410    420    430      440
e    500   510    520    530      540
f    600   610    620    630      640